//backgrounds
$body-bg: #F1F1F1;
$button-bg: #E74266;

//colors
$white: #FFFFFF;
$black: #181818;
$input-placeholder: #AEAEAE;
$input-border: #CCCCCC;

//hovers
$button-hover: #d3264f;

//fonts
$basic-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
