.form {
  display: flex;
  flex-direction: column;

  &__label {
    width: 100%;
    position: relative;

    &-title {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: $input-placeholder;
      transition: all .3s linear;

      @media (max-width: 576px) {
        font-size: 14px;
      }

      &--active {
        font-size: 12px;
        top: 0;
        transform: translateY(0);

      }
    }

    &-switcher {
      position: absolute;
      background: url('../img/icons/eye.svg')no-repeat center center;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      cursor: pointer;

      &--active {
        background: url('../img/icons/eye-active.svg')no-repeat center center;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 32px;

      @media (max-width: 576px) {
        margin-bottom: 40px;
      }
    }

    &-error {
      position: absolute;
      font-size: 14px;
      top: 0;
      left: 0;
      transform-origin: bottom;
      transform: translateY(-100%);
      color: red;

      @media (max-width: 576px) {
        font-size: 12px;
      }
    }
  }

  &__input {
    width: 100%;
    background: $white;
    padding: 12px;
    border: 1px solid $input-border;
    border-radius: 8px;

    @media (max-width: 576px) {
      font-size: 14px;
      padding: 8px;
    }

    &:focus {
      outline: none;

     & + .form__label-title {
        font-size: 12px;
       top: 0;
       transform: translateY(0);
      }
    }
  }

  &__btn {
    margin-top: 64px;

    @media (max-width: 576px) {
      margin-top: 32px;
    }
  }
}